@import 'mixins';

@font-face {
  font-family: RedHat;
  src: url(/fonts/redhat/RedHatDisplay-Regular.woff2) format('woff2'),
    url(/fonts/redhat/RedHatDisplay-Regular.woff) format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: RedHat;
  src: url(/fonts/redhat/RedHatDisplay-Medium.woff2) format('woff2'),
    url(/fonts/redhat/RedHatDisplay-Medium.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: RedHat;
  src: url(/fonts/redhat/RedHatDisplay-Bold.woff2) format('woff2'),
    url(/fonts/redhat/RedHatDisplay-Bold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: RedHat;
  src: url(/fonts/redhat/RedHatDisplay-Black.woff2) format('woff2'),
    url(/fonts/redhat/RedHatDisplay-Black.woff) format('woff');
  font-weight: 900;
  font-style: normal;
}

 @font-face {
   font-family: DMSans;
   src: url(/fonts/dmsans/DMSans-Bold.woff2) format('woff2'),
     url(/fonts/dmsans/DMSans-Bold.woff) format('woff');
   font-weight: bold;
   font-style: normal;
 }

 @font-face {
   font-family: DMSans;
   src: url(/fonts/dmsans/DMSans-Regular.woff2) format('woff2'),
     url(/fonts/dmsans/DMSans-Regular.woff) format('woff');
   font-weight: 400;
   font-style: normal;
 }

 @font-face {
   font-family: DMSans;
   src: url(/fonts/dmsans/DMSans-Medium.woff2) format('woff2'),
     url(/fonts/dmsans/DMSans-Medium.woff) format('woff');
   font-weight: 500;
   font-style: normal;
    font-display: swap;
}
// @font-face {
//     font-family: 'DMSans';
//     src: url('../public/fonts/DMSans-Bold.ttf');
//     src: url('../public/fonts/DMSans-BoldItalic.ttf');
//     src: url('../public/fonts/DMSans-Italic.ttf');
//     src: url('../public/fonts/DMSans-Medium.ttf');
//     src: url('../public/fonts/DMSans-MediumItalic.ttf');
//     src: url('../public/fonts/DMSans-Regular.ttf');
//   }
.grid {
    display: -moz-grid;
    display: grid;
  }
  
  .flex {
    display: -webkit-flex;
    display: flex;
  }
  
  .app_ul {
    padding-left: 0;
    list-style-type: none;
    @extend .flex;
    justify-content: space-around;
  
    li {
      a {
        // display: inline-block;
        @extend .flex;
      }
  
      padding-left: 15px;
      padding-right: 15px;
      display: flex;
      align-items: flex-end;
  
      svg,
      img {
        height: 40px;
        max-width: 132px;
        height: 35px;
        max-width: 115px;
      }
    }
  }
  
  body {
    font-family: 'DMSans', sans-serif;
    margin: 0;
    padding: 0;
    background: hsl(190, 48%, 100%);
    color: hsl(190, 28%, 18%);
    line-height: 1.4;
    font-size: 1rem;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
  }
  
  h1,
  h2,
  h3,
  h4 {
    font-family: 'RedHat', sans-serif;
    margin-top: 1rem;
  }
  p,a,li{
    font-family: 'DMSans', sans-serif;
  }
  h4.title{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #202020;
  }
  p{
    margin-top: 1rem;
  }
  html {
    scroll-behavior: smooth;
  }
  
  * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  a {
    text-decoration: none;
  }
  
  @media (min-width: 576px) {
    .section_container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 640px) {
    .cart_section_container {
      max-width: 680px;
    }
  }
  
  @media (min-width: 768px) {
    .section_container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 932px) {
    .cart_section_container {
      max-width: 880px;
    }
  }
  
  @media (min-width: 992px) {
    .section_container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .section_container {
      max-width: 1140px;
    }
  }
  
  @media (min-width: 1600px) {
    .section_container {
      max-width: 1250px;
    }
  }
  
  .section_container {
    margin: 0 auto;
  }
  
  .device {
    position: sticky;
    top: 0;
    background: hsla(333, 38%, 100%, .9);
    z-index: 999;
    @include border-bottom(1px solid #9F9F9F);
    .flex_ {
      @extend .flex;
    }
    ol, ul, dl {
      margin-top: 1rem;
      margin-bottom: 1rem;
  }
    .container_nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
  
      .logo_container {
        @extend .grid;
        align-content: center;
        padding: 25px 0;
        a {
          text-decoration: none;
  
          &:hover {
            text-decoration: none;
          }
  
          img {
            max-width: 168px;
            height: 34px;
            object-fit: contain;
          }
        }
      }
  .main-nav {
    @extend .grid;
    align-content: center;
  }
      .open-main-nav {
        display: none;
      }
    }
  }
  
  .main-nav {
  
    // min-width:50%;
    .mobile_app_ {
      display: none;
    }
   
    ul {
      display: flex;
      justify-content: space-around;
      list-style-type: none;
  
      li {
        padding: 10px 30px;
        padding: 15px 30px;
  
        a {
          padding: 0;
          color: #77695A;
          position: relative;
          padding: 5px 2px;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 18px;
          color: #453E3E;
          &.active{
            color:#00724a;
            color:#ea4547;
            color:#EC7E16;
            font-weight: bold;
          }
  
          &:after {
            position: absolute;
            content: "";
            width: 0%;
            left: 0;
            bottom: 0;
            @include transition(all 0.35s);
            @include border(1px solid transparent);
  
          }
  
          &:hover {
            &:after {
              position: absolute;
              content: "";
              width: 60%;
              right: 0;
              left: 0;
              bottom: 0;
              @include transition(all 0.2s);
              @include border(1px solid #77695A);
            }
  
          }
  
          // &.active_nav {
          //   color: #6F1C19;
          //   font-weight: bold;
          //   padding-left: 0;
          //   padding-right: 0;
          // }
        }
      }
    }
   
  }
  .container_nav{
    .app_ul{
     li{
       &:first-of-type{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #453E3E;
        align-items: center;
        a{
          color:hsl(89, 43%, 55%);
          font-weight: 500;
          display: inline-block;
          margin-left: 4px;
        }
       }
     }
    }
  }
  /* Burger Style: @see: https://codepen.io/CreativeJuiz/full/oMZNXy */
  .open-main-nav {
    position: absolute;
    top: 15px;
    top: 28px;
    padding-top: 15px;
    right: 50px;
    z-index: 1000;
    background: none;
    border: 0;
    cursor: pointer;
  }
  
  .open-main-nav:focus {
    outline: none;
  }
  
  .burger {
    position: relative;
    display: block;
    width: 28px;
    height: 4px;
    margin: 0 auto;
    background: hsl(159, 100%, 22%);
    transform: skew(5deg);
    transition: all .275s;
  }
  
  .burger:after,
  .burger:before {
    content: '';
    display: block;
    height: 100%;
    background: hsl(159, 100%, 22%);

    transition: all .275s;
  }
  
  .burger:after {
    transform: translateY(-12px) translateX(-2px) skew(-20deg);
  }
  
  .burger:before {
    transform: translateY(-16px) skew(-10deg);
  }
  
  /* Toggle State part */
  .is-open .burger {
    transform: skew(5deg) translateY(-8px) rotate(-45deg);
  }
  
  .is-open .burger:before {
    transform: translateY(0px) skew(-10deg) rotate(75deg);
  }
  
  .is-open .burger:after {
    transform: translateY(-12px) translateX(10px) skew(-20deg);
    opacity: 0;
  }
  
  /* MENU Text part */
  
  .burger-text {
    display: block;
    font-size: .675rem;
    letter-spacing: .05em;
    margin-top: .5em;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    color: hsl(159, 60%, 22%);

  
  }
  
  .is-open {
    .burger-text {
      color: hsl(333, 50%, 99.7%);
      color:hsl(159, 100%, 92%);
    }
  
    .burger:before,
    .burger {
      background: hsl(333, 50%, 90.7%);
      background:hsl(159, 100%, 92%);

    }
  }
  
  @media only screen and (max-width:1088px) {
    .main-nav ul{
      padding-left: 0;
      li{
        padding: 15px 20px;
      }
    }
    .app_ul li{
      padding-left: 12px;
      padding-right: 12px;
      img {
        height: 30px;
        max-width: 100px;
      }
    }
  }
    @media only screen and (max-width:991px) {
    .open-main-nav {
      display: inline-block !important;
    }
  
    .device {
      .container_nav {
        position: relative;
        justify-content: normal;
        padding-top: 10px;
        padding-bottom: 10px;
  
        .logo_container {
          left: 50px;
          position: relative;
          padding-top: 10px;
          padding-bottom: 5px;
  
          a img {
            max-width: 168px;
            height: 26px;
          }
        }
  
        .main-nav {
          position: absolute;
          width: 100%;
          visibility: hidden;
          top: 0;
          text-align: center;
  
          .mobile_app_ {
            display: block;
  
            a {
              display: inline-block;
              margin: 0 15px;
  
              svg,
              img {
                height: 40px;
                width: 130px;
              }
            }
          }
  
          ul {
            visibility: hidden;
            opacity: 0;
            @include transform (translateY(-50px));
            @include transition(all 0.35s);
            display: block;
            padding-left: 0;
            padding-top: 60px;
  
            li {
              padding: 15px 30px;
  
              a {
                padding: 0;
                color: hsl(333, 60%, 99.7%);
                position: relative;
                padding-top: 8px;
                padding-bottom: 8px;
  
                &:before {
                  position: absolute;
                  content: "";
                  width: 0%;
                  left: 0;
                  top: 0;
                  @include border(1px solid transparent);
                  @include transition(all 0.35s);
                }
  
                &:after {
                  position: absolute;
                  content: "";
                  width: 0%;
                  right: 0;
                  left: auto;
                  bottom: 0;
                  @include transition(all 0.35s);
                  @include border(none);
  
                }
  
      
              }
            }
          }
  
          &.is-activated {
            position: absolute;
            width: 100%;
            visibility: visible;
            height: 100vh;
            top: 0;
            text-align: center;
            display: -moz-grid;
            display: grid;
            padding-bottom: 41px;
            align-content: center;
            background: hsla(333, 50%, 10%, 0.95);
            background: hsla(2, 63%, 10%,0.95);
            background: hsla(159, 60%, 22%, 0.95);

            span{
              display:block;
              margin-bottom: 1rem;
              color:hsl(159, 100%, 92%);
              font-size: 14px;
              a{
                color:hsl(159, 100%, 90%);
                font-weight: bold;
              }
            }
            // a{
            //   img{
            //     width:120px;
            //     height: 30px;
            //   }
            // }
  
            ul {
              @include transition(all 0.35s);
              visibility: visible;
              display: block;
              opacity: 1;
              @include transform (translateY(0));
              padding-left: 0;
              padding-top: 60px;
              padding-top: 10px;
  
              li {
                &:nth-child(1) a {
                  transition: all 275ms 175ms
                }
  
                &:nth-child(2) a {
                  transition: all 275ms 225ms
                }
  
                &:nth-child(3) a {
                  transition: all 275ms 275ms
                }
  
                &:nth-child(4) a {
                  transition: all 275ms 325ms
                }
  
                &:nth-child(5) a {
                  transition: all 275ms 375ms
                }
  
                &:nth-child(6) a {
                  transition: all 275ms 425ms
                }
  
                padding:15px 30px;
  
                a {
                  padding: 0;
                  color: hsl(333, 60%, 99.7%);
                  color: hsl(159, 100%, 92%);
                  position: relative;
                  font-weight: bold;
                  padding-top: 8px;
                  padding-bottom: 8px;
  
                  &:before {
                    position: absolute;
                    content: "";
                    width: 0%;
                    left: 0;
                    top: 0;
                    @include border(none);
                    @include transition(all 0.35s);
                  }
  
                  &:after {
                    position: absolute;
                    content: "";
                    width: 0%;
                    right: 0;
                    bottom: 0;
                    @include transition(all 0.35s);
                    @include border(none);
  
                  }
  
                  &:hover {
                    &:before {
                      position: absolute;
                      content: "";
                      width: 40%;
                      left: 0;
                      top: 0;
                      @include transition(all 0.35s);
                      @include border(none);
                    }
  
                    &:after {
                      position: absolute;
                      content: "";
                      width: 40%;
                      right: 0;
                      bottom: 0;
                      @include transition(all 0.35s);
                      @include border(none);
                    }
  
                  }
  
                  &.active {

                    &:before {
                      position: absolute;
                      content: "";
                      width: 40%;
                      left: 0;
                      top: 0;
                      @include border(0.7px solid  hsl(159, 100%, 92%));
                    }
  
                    &:after {
                      position: absolute;
                      content: "";
                      width: 40%;
                      right: 0;
                      bottom: 0;
                      @include border(0.7px solid  hsl(159, 100%, 92%));

                    }
                  }
                }
              }
            }
          }
        }
  
        .app_ul {
          display: none;
        }
      }
    }
  }
  
  @media only screen and (max-width:475px) {
    .device {
      .container_nav {
        .logo_container {
          left: 20px;
        }
  
        .open-main-nav {
          right: 20px;
        }
        .main-nav .mobile_app_ a{
          margin: 0 10px;
          img{
            width:120px;
          }
        }
      }
    }
  }
/*hero section*/
.hero_bg {
  background: url("/bg/hero_bg.jpg") no-repeat;
  min-height: calc(100vh - 85px);
  background-size: cover;
  background-position: 0 0;
  position: relative;
  text-align: center;
  @extend .grid;
  justify-content: center;
  align-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
  z-index: 2;
  &:before{
    position: absolute;
    content:"";
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: linear-gradient(0deg, rgba(26, 105, 73, 0.26), rgba(26, 105, 73, 0.26));
  }
  &.about_container{
    min-height: 70vh;
    h2{
      max-width:943px;
    }
  }
  h2{
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 60px;
    color: #fff;
    max-width: 756px;
    span{display: block;}
    margin-bottom: 0.8rem;
  }
  p{
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 29px;
    color: #FFFFFF;
  }
  .app_download{
    margin-top: 2rem;
    a{
      display: inline-block;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}
/*   partnership */
.partnership{
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  h6{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2em;
    color: #000000;
    margin-bottom: 2.5rem;
    margin-top: 1rem;
  }
  .partners_container{
    @extend .flex;
    justify-content: center;
    .p_logo{
      max-height: 60px;
      padding-left: 30px;
      padding-right: 30px;
      a{
        @include transition(all 0.3s);
        display: inline-block;
        padding: 5px 15px;
        @include transform(scale(1));
        &:hover{
          @include transform(scale(1.02));
          @include transition(all 0.3s);
          @include filter(grayscale(0.9));
          // @include box-shadow(1px 0 6px 1px rgba(0, 0, 0, 0.02));
          @include border-radius(5px);
        }
      }
    }
  }
}
/*How it works section*/ 
.how_it_works{
  padding-top: 60px;
  padding-bottom: 60px;
  h4{
    text-align: center;
  }
  p{
    text-align: center;
    max-width: 983px;
    margin: auto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: #453E3E;
  }
  .download_steps_grid{
    @extend .grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 70px;
    .download_step{
   
      .step_cont{
        max-width: 300px;
        margin: auto;
        text-align: center;
        img{
          max-width: 270px;
          height: auto;
          margin: auto;
        }
        h4{
          line-height: 140%;
          padding-top: 15px;
        }
        p{
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 24px;
          color: #453E3E;
        }
      }
    }
  }
}
/*produce section*/ 
.produce_main{
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  h4{
   padding-bottom: 40px;
  }
  .produce_grid{
    margin-top: 0.5rem;
    @extend .grid;
    grid-template-columns: repeat(4, 1fr);
    .product{
      .product_container{
        background: #FAFAFA;
        max-width: 215px;
        margin: auto;
        padding-top: 25px;
        position: relative;
        z-index: 0;
        &:after{
          position: absolute;
          content:"";
          left: 0;
          bottom: 0;
          background:#9FC254;
          height: 15px;
          width:100%;
          z-index:-1;
          @include transition(all 0.4s);
        }
        &:hover{
          &:after{
            @include transition(all 0.3s);
            height: 100%;
          }
        }
        img{
          margin: auto;
          max-width: 200px;
        }
        h5{
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          margin-top: 25px;
          line-height: 24px;
          color: #FFFFFF;
          background:#9FC254;
          padding-top: 20px;
          padding-bottom: 20px;
        }
      }
    }
  }
}
/*why us*/ 
.why_us{
  padding-top: 60px;
  padding-bottom: 80px;
  background: #FAFAFA;
  h4{
    text-align: center;
  }
  .slider_container{
    margin-top: 15px;
    padding: 5px 25px;
    max-height: 323px;
    height: 323px;
    h5{
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 29px;
      color: #FFFFFF;
      margin: 0;
      margin-top: 1rem;
    }
    img{
      height: auto;
      width: 88px;
    }
    p{
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 26px;
      color: #FFFFFF;
      margin-top: 0.5rem;
    }
    .slider_bg{
      padding: 25px;
      background: linear-gradient(180deg, rgba(159, 194, 84, 0.9) 0%, rgba(121, 191, 79, 0.9) 100%);
      height: 100%;
    }
  }
}
/*app download */ 
.app_download_container{
  text-align: center;
  padding-top: 60px;
  h4{
    margin-bottom: 0.3rem;
  }
  p{
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 29px;
    color: #000000;

  }
  a{
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
    img{
      width: 160px;
      height: 50px;
    }
  }
}
/*app download 2 */ 
.app_underline{
  @include border-top(1px solid #CDCDCD);
   @include border-bottom(1px solid #CDCDCD);
}
.app_container{
  @extend .grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
 padding-top: 80px;
 padding-bottom: 80px;
  .description{
    @extend .grid;
    justify-content: center;
    p{
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 21px;
      color: #3E3E3E;
    }
    .download{
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      margin: 0;
      margin-top: .5rem;
      line-height: 29px;
      color: #202020;
    }
  }
  .download_links{ 
    @extend .flex;
    height: auto;
    @include transition(all 0.25s);
    align-items: center;
    justify-content: center;
    a{
      max-width: 125px;
      &:nth-of-type(1){
        margin-right: 15px;
      }
      &:nth-of-type(2){
        margin-left: 15px;
      }
      img {
        @include transition(all 0.25s);
      }

      &:hover {
        position: relative;
        top: 1px;
        @include transition(all 0.25s);

        img {
          @include transition(all 0.25s);
          @include box-shadow(0px 4px 6px 4px hsla(30, 14%, 16%, 0.12));
          @include border-radius(4px);
        }
      }
    }
  }
}
/*faq section */ 
/*faq section */
.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow svg{
  width: 16px;
  height: 16px;
  fill:#00724a;
  fill: #D6D6D6;
}
.faq_container{
  padding-top: 70px;
  padding-bottom: 80px;
  h4{
    text-align: center;
    padding-bottom: 40px;
    padding-top: 60px;
  }
  .ant-collapse{
    background: none;
    @include border(none);
    .ant-collapse-item{
      margin-bottom: 20px;
      @include border( 1px solid #9B9B9B);
      @include border-radius(5px);
    .ant-collapse-header{
      font-style: normal;
      font-family:  'RedHat', sans-serif;

      color: #202020;
      padding-top: 12px;
      padding-bottom: 12px;
      background: hsl(0, 0%, 99%);
      @include border-radius(5px);
      z-index: 0;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 21px;
    }
    &.ant-collapse-item-active{
      .ant-collapse-header{
        @include border-radius(5px 5px 0 0);
      }
    }
    .ant-collapse-content{
      @include border-top(1px solid  hsl(0, 0%, 90%));
      @include border-radius( 0 0 5px 5px);
    }
  }
  }
  
}
.faq_container .ant-collapse .ant-collapse-item .ant-collapse-content .ant-collapse-content-box p{
  font-family: 'DMSans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14.5px;
  line-height: 150%;
  color: #453E3E;
}
.ant-collapse-content > .ant-collapse-content-box{
  ul, ol{
    li{
      font-size: 14px;
      line-height: 22px;
      color: #000000;
      color: #666666;
      font-style: normal;
      font-family: 'DMSans', sans-serif;;
      font-weight: normal;
      a{
        text-decoration: underline;
        color:hsl(2, 63%, 37%);
        &:hover{
          text-decoration: none;
        }
      }
    }
  }
   ol{
    li{
      a{
        text-decoration: underline;
        color:#F8B638;
      
      }
    }
  }
}
/*Description section */
.description_cont{
  padding-top: 60px;
  padding-bottom: 20px;
  .description_grid{
    padding-top: 50px;
    padding-bottom: 50px;
    @extend .grid;
    grid-template-columns: repeat(2, 1fr);
    // column-gap: 30px;
    row-gap: 30px;
    .description_item{
      .text_description{
        &.sub_div{
          padding-left: 20px;
        }
        h4{
          max-width: 360px;
          font-size: 34px;
          line-height: 46px;
        }
        p{
          max-width: 475px;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 32px;
          color: #453E3E;
        }
       
      }
    }
  }
}
/*scrollspy in legal page*/ 
.spy_grid{
  @extend .grid;
  grid-template-columns: 140px 1fr;
  column-gap: 80px;
  padding-bottom: 80px;
  .scroll_links{
    position: sticky;
    top:150px;
    h4{
      margin-bottom: 0.3rem;
      font-size: 34px;
    }
    ul{
      list-style-type: none;
      padding-left: 0;
      li{
        &.is-current{
          a{
            font-weight: bold;
          }
        }
        a{
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 36px;
          color: #453E3E;
        }
      }
    }
  }
  .scroll_containers{
    margin-top: 80px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0 40px 60px 40px;
    section{
      margin-top: 80px;
      &:first-of-type{
        margin-top: 40px;
      }
      h4{
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        color: #000000;
      }
      span{
        font-style: italic;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
        color: #453E3E;
      }
      div{
        p{
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 150%;
          color: #453E3E;
        }
        .span{
          font-style: italic;
        }
        .sub_h{
          margin-bottom: 0.3rem;
        }
        ol,ul{
          margin-top: 0;
          padding-left: 20px;
          &.li_space{
            li{
              margin-top: 0.5rem;
              margin-bottom: 0.5rem;
            }
          }
          li{
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 150%;
          }
        }
        .first_p{
          margin-top: 0;
        }
        .mb_0{
          margin-bottom: 0;
        }
        a{
          color:hsl(29, 100%, 22%)
        }
        h6{ 
          margin-top: 1rem;
          margin-bottom: 0.5rem;
          line-height: 150%;
          font-size: 15px;
        }
        .h6{
          font-style: normal;
          font-weight: bold;
        }
      }
    }
  }
}
/*footer section*/ 
footer {
  padding-left: 100px;
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #202020;
    padding-top: 40px;
    padding-bottom: 40px;
    a{
      color:#00724a;
      &:hover{color:#acbb16;}
    }
  }
.footer_logo{
  padding-top: 60px;
  padding-bottom: 20px;
}
  .footer_grid {
    @extend .grid;
  
    grid-template-columns: 200px 200px 230px 300px;

    .footer_item {
      h4 {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;
        color: #202020;
      }

      ul {
        padding-left: 0;
        list-style-type: none;

        li {
          padding-bottom: 5px;
          &:nth-of-type(1){
            a{
              &:hover{
                svg{
                  path{
                    fill:#3b5998;
                    @include transition(all 0.3s);
                  }
                }
              }
            }
          }
          &:nth-of-type(2){
            a{
              &:hover{
                svg{
                  path{
                    fill:#8D5524;
                    @include transition(all 0.3s);
                  }
                }
              }
            }
          }
          &:nth-of-type(3){
            a{
              &:hover{
                svg{
                  path{
                    fill:#00acee;
                    @include transition(all 0.3s);
                  }
                }
              }
            }
          }
          a {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            color: #000000;
            svg{
              path{
                @include transition(all 0.3s);
              }
            }
          }
        }
      }

      &:nth-of-type(3) {
        ul {
          li {
            display: inline-block;

            a {
              &:first-of-type {
                margin-left: 0;
              }

              margin-right: 15px;
              margin-left: 15px;

            }
          }
        }
      }

      .app_link {
        a {
          img{
            height: 40px;
            width: 130px;
          }
          &:first-of-type {
            margin-right: 10px;
          }

          &:last-of-type {
            margin-left: 10px;
          }
        }
      }
      .partnership_footer{
        h6{
          font-style: normal;
          font-weight: 500;
          font-size: 9px;
          line-height: 12px;
          letter-spacing: 0.2em;
          color: #000000;
          margin-bottom: 0.3rem;
          margin-top: 1.5rem;
        }
        .partners_container{
          @extend .flex;
          flex-wrap: wrap;
          .p_logo{
            padding:5px 10px 10px 0;
            text-align: center;
            &:nth-of-type(1){
              padding-left: 0;
            }
            &:nth-of-type(3){
              padding-right: 0;
            }
          }
        }
      }
    }
  }
}
/*media query begins*/
@media only screen and (max-width:1350px) {
  .collapsible_con{
    max-width: 940px;
    margin: auto;
  }
}
  @media only screen and (max-width:1199px) {
    .description_cont .description_grid{
      column-gap: 30px;
      .description_item .text_description p {
        max-width: 450px;
      }
    }
  }
    @media only screen and (max-width:1140px) {
  .hero_bg{
    .app_download {
      img{
        max-width: 150px;
        height: auto;

      }
    }
    h2 {
      font-size: 40px;
      line-height: 50px;
    }
  } 
  footer {
    .footer_grid {
      grid-template-columns: repeat(3, 180px);

      .footer_item {
        &:nth-of-type(4) {
          grid-column: 1/3;
        }
      }
    }
  }
  .how_it_works{
    h4{
      margin-bottom: 1rem;
    }
    p {
      max-width: 700px;
    }
  }
}
@media only screen and (max-width:991px) {
  .spy_grid{
    column-gap: 40px;
    .scroll_links{
      h4{
        font-size: 26px;
        line-height: 46px;
      }
      ul li a {
        font-size: 18px;
        line-height: 30px;
      }
    }
  }
  
  .description_cont .description_grid .description_item .text_description{
    p {
      font-size: 18px;
      line-height: 25px;
    }
    h4 {
      font-size: 28px;
      line-height: 38px;
  }
  } 
  .hero_bg{
    .app_download {
      img{
        max-width: 130px;
      }
    }
    p {
      font-size: 20px;
      line-height: 24px;
    h2 {
      font-size: 38px;
      line-height: 48px;
    }
  }
}
  .produce_main .produce_grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .how_it_works p {
    font-size: 18px;
    line-height: 28px;
  }
  h4.title {
    font-size: 32px;
    line-height: 46px;
  }
  .app_download_container{
    a img {
      width: 130px;
      height: auto;
  }
  }
  .how_it_works .download_steps_grid {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
  }
  .partnership{
    h6{
    }
    .partners_container{
      .p_logo{
        max-height: 44px;
        width: auto;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}
@media only screen and (max-width:767px) {
  .why_us .slider_container {
    padding: 5px 20px;
    img{
      width: 66px;
    }
  }
  .partnership{
    padding-bottom: 30px;
    h6{
    }
    .partners_container{
      .p_logo{
        max-height: 44px;
        width: auto;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
  .spy_grid{
    grid-template-columns: 1fr;
    .scroll_links {
      display: none;
  }
  }
  .description_cont{
    padding-bottom: 20px;
    .description_grid{
      column-gap: 18px;
      padding-bottom: 0px;
      .description_item{
        .text_description{
          h4 {
            font-size: 22px;
            line-height: 30px;
          }
          p {
            font-size: 14px;
            line-height: 20px;
          }
          &.sub_div {
            padding-left: 0px;
        }
        }
      }
    }
  }
  .collapsible_con {
    max-width: 648px;
}
  .app_container{
    grid-template-columns: 1fr;
    row-gap: 30px;
    padding-right: 10px;
    padding-left: 10px;
    .description{
      text-align: center;
      order:2;
      p{
        font-size: 14px;
        line-height: 14px;
        span{display: none;}
      }
    }
    .download_links{
      order:1;
    }
  }
  .hero_bg{
    min-height: calc(85vh - 76px);
    h2 span {
      display: inline;
    }
  }
  .how_it_works .download_steps_grid {
    column-gap: 40px;
    .download_step .step_cont {
      max-width: 250px;
      img{
        max-width: 100%;
      }
    }
  }
    .produce_main .produce_grid {
      grid-template-columns: repeat(2, 1fr);
    }
    h4.title {
      font-size: 30px;
      line-height: 44px;
  }
}
@media only screen and (max-width:676px) {
  .collapsible_con {
    max-width: 450px;
}
  h4.title {
    font-size: 28px;
    line-height: 40px;
}
.how_it_works .download_steps_grid {
  column-gap: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
  footer {
    padding-left: 60px;
    .footer_grid {
      grid-template-columns: repeat(2, 180px);

      .footer_item {
        &:nth-of-type(4) {
          grid-column: 1/3;

          .app_link {
            a {
              &:last-of-type {
                margin-left: 0;
              }
            }
          }
        }
      }
    }
  }
  .device .container_nav .logo_container{
    img{
      max-width: 180px;
    }
  }
}
@media only screen and (max-width:575px) {
  .partnership{
    padding-top: 40px;
    padding-bottom: 30px;
    h6{
      margin-bottom: 1.5rem;
    }
    .partners_container{
      flex-wrap: wrap;
      padding-left: 40px;
      padding-right: 40px;
      .p_logo{
        max-height: 44px;
        width: auto;
        padding-left: 10px;
        padding-right: 10px;
      a{
        background: hsla(159, 60%, 96%,0.6);
        @include border-radius(4px);
        height: 100%;
      }
        &:nth-of-type(1){
          width: 50%;
          a{
            img{
              width: auto;
              height: 100%;
            }
          }
        }
        &:nth-of-type(2){
          a{
            img{
              object-fit: contain;
              width: auto;
              height: 100%;
            }
          }
          width: 50%;
        }
        &:nth-of-type(3){
        margin-top: 30px;
        a{
          height: 60px;
          img{
            object-fit: contain;
            width: 100%;
            height: 100%;
          }
        }
        }
      }
    }
  }
  .spy_grid .scroll_containers {
    padding: 0 30px 40px 30px;
    margin-top: 20px;
    margin-right: 5px;
    margin-left: 5px;
}
  .description_cont{
    padding-top: 15px;
    .description_grid{
      column-gap: 18px;
      row-gap: 10px;
      padding-left: 20px;
      padding-right: 20px;
      grid-template-columns: 1fr;
      &.swap_children{
        .description_item{
          &:nth-of-type(1){
            order: 2;
          }
          &:nth-of-type(2){
            order: 1;
          }
        }
      }
    }
  }
  .how_it_works p {
    max-width: 480px;
  }
  .hero_bg h2 {
    font-size: 35px;
    line-height: 46px;
    padding-right: 10px;
    padding-left: 10px;
    span{display: block;}
}
}
  @media only screen and (max-width:545px) {
    .open-main-nav{
      right: 30px;
    }
    .device .container_nav .logo_container{
      left: 25px;
    }
    .collapsible_con {
      max-width: 400px;
  }
    .app_container{
      .description{
        .download{
          font-size: 20px;
        line-height: 20px;}
      }
    }
  }
    @media only screen and (max-width:530px) {
      .why_us .slider_container {
        padding: 5px 15px;
        img{
          width: 66px;
        }
        .slider_bg{padding: 16px;}
      }
  h4.title {
    font-size: 26px;
    line-height: 36px;
  }
  .how_it_works p {
    max-width: 450px;
    font-size: 16px;
    line-height: 25px;
    padding-left: 10px;
    padding-right: 10px;
}
  .app_download_container{
    a img {
      width: 120px;
  }
    p {
      font-size: 20px;
      line-height: 20px;
    }
  }
}
  @media only screen and (max-width:500px) {
    .how_it_works .download_steps_grid {
      grid-template-columns:  1fr;
  }
  .produce_main .produce_grid {
    .product{
      .product_container {
        max-width: 197px;
        img{
          width:80%;
        }
      }
    }
  }
  .hero_bg{
    h2 {
      font-size: 32px;
      line-height: 38px;
      span{display: inline;}
    }

  }
}
@media only screen and (max-width:475px) {
  .spy_grid .scroll_containers {
    padding: 0 20px 40px 20px;
}
  .hero_bg{
    &:before {
      background: linear-gradient(0deg, rgba(26, 105, 73, .4), rgba(26, 105, 73, 0.7));
  }
  &.about_container {
    min-height: 50vh;
}
p{
  color:hsl(159, 60%, 88%);
}
    h2 {
      font-size: 28px;
      color:hsl(159, 60%, 89%);
      line-height: 34px;
      padding-right: 20px;
      letter-spacing: 1px;
      word-spacing: 2px;
      padding-left: 20px;
      @include text-shadow(1px 0 6px rgba(0, 0, 0, 0.3));
  }
    // h2 {
    //   font-size: 28px;
    //   line-height: 36px;
    //   padding-right: 20px;
    //   padding-left: 20px;
    // }
    p{
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  h4.title {
    font-size: 22px;
    line-height: 22px;
  }
}

  @media only screen and (max-width:464px) {
    .why_us .slider_container {
      padding: 5px 25px;
      img{
        width: 88px;
      }
      .slider_bg{padding: 25px;}
    }
  }
    @media only screen and (max-width:425px) {
    .partnership{
      h6{
        font-size: 16px;
      }
      .partners_container{
        padding-left: 10px;
        padding-right: 10px;
      }
    }
    .faq_container .ant-collapse .ant-collapse-item .ant-collapse-header {
      font-size: 20px;
      font-size: 16px;
      line-height: 20px;
      padding-top: 12px;
      padding-bottom: 12px;
    }
    .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow svg {
      width: 12px;
      height: 12px;
  }
  .faq_container .ant-collapse .ant-collapse-item .ant-collapse-content .ant-collapse-content-box p {
    font-size: 15px;
    line-height: 20px;
  }
    .collapsible_con {
      max-width: 310px;
    }
    .hero_bg{
      h2 {
        font-size: 28px;
      line-height: 34px;
      letter-spacing: 0.5px;
    }
      p{
        line-height: 22px;
      }
    }
    .produce_main .produce_grid {
      .product{
        .product_container {
          max-width: 140px;
          h5{
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 14px;
          }
         
        }
      }
    }
  .section_container{
    padding-left: 10px;
    padding-right: 10px;
  }
  footer {
    padding-left: 20px;
    padding-right: 20px;
    .footer_logo{
      img{
        max-width: 60%;
      }
    }
    .footer_grid {
      grid-template-columns: repeat(2, 150px);

      .footer_item {
        h4 {
          line-height: 20px;
        }
        &:nth-of-type(4) {
          // grid-column: 1/3;

          .app_link {
            a {
              img {
                width: 120px;
              }

              &:last-of-type {
                margin-left: 10px;
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width:375px) {
  .partnership{
    padding-top: 30px;
    .partners_container{
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  .open-main-nav{
    right: 25px;
  }
  .device .container_nav .logo_container{
    left: 13px;
  }
  .app_container{
    .description{
      .download{font-size: 18px;}
    }
    .download_links a{
      &:nth-of-type(1) {
        margin-right: 10px;
    }
    &:nth-of-type(2) {
      margin-left: 10px;
  }
      img{
        max-width: 120px;
      }
    }
  }
  .hero_bg{
    p{font-size: 18px;}
    .app_download img {
      max-width: 120px;
  }
  }
  h4.title {
    font-size: 18px;
    line-height: 18px;
  }
  .app_download_container{
    p {
      font-size: 16px;
      line-height: 30px;
    }
    a img {
      width: 120px;
    }
  }
  .description_cont{
    .description_grid{
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
@media only screen and (max-width:320px) {
  .description_cont{
    .description_grid{
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  .open-main-nav{
    right: 15px;
  }
  .device .container_nav .logo_container{
    left: 9px;
  }
}
